/* .bloc{
    background-color: #f7f7ff;
    height: 100%;
    width: auto;
    padding-top: 70px;
}

.blocClientAdmin {
    margin-left: 23%;
    margin-right: 4%;
    height: auto;
    background-color: white;
}
p{
    padding-bottom: 20px;
    margin-left: 23%;
    font-weight:bold;
    font-size: 20px;} */
