<app-header-prof></app-header-prof>
<div class="pc-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Liste des question de test de niveau </h5>
                    </div>
                    <div class="card-body">
                        <div *ngIf="alert==true" class="alert alert-success alert-dismissible fade show"
                        role="alert">
                        <i class="fas fa-check pr-2"></i>{{msg}}
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class='add text-right'>
                            <button (click)="openDialogAjout()" mat-button
                                class="btn  btn-sm mb-3 btn-round" style="color: white; background-color:#003366;"><i class="feather icon-plus"></i>Ajouter
                                une question</button>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card " *ngFor="let test of listTest">

                                    <div *ngIf="test.type=='niveau'">
                                        <div class="card-header" style="padding-bottom: 10px; padding-top:10px;">
                                            <h5>{{test.question}}</h5>

                                        </div>
                                        <ul class="list-nav">

                                            <div class="card-body widget-last-task">
                                                <div class="new-task">
                                                    <div class="to-do-list mb-3">
                                                        <div class="d-inline-block">
                                                            <div class="check-task form-check">
                                                                <li>{{test.reponse[0]}}</li>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="to-do-list mb-3">
                                                        <div class="d-inline-block">
                                                            <div class="check-task form-check">
                                                                <li> {{test.reponse[1]}}</li>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="to-do-list mb-3">
                                                        <div class="d-inline-block">
                                                            <div class="check-task form-check">
                                                                <li> {{test.reponse[2]}}</li>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="to-do-list mb-3">
                                                        <div class="d-inline-block">
                                                            <div class="check-task form-check">
                                                                <li> {{test.reponse[3]}}</li>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="to-do-list mb-3">
                                                        <div class="d-inline-block">
                                                            <div class="check-task form-check">
                                                                
                                                                <span style="color: green;" class="pr-2">&#10004;</span>{{test.correct}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="right-icon-control m-t-15">

                                                    <button *ngIf="test.etat==false" mat-button
                                                        (click)="openDialog(test._id)" type="button"
                                                        class="btn btn-success btn-sm"><i
                                                            class="fas fa-edit pr-2"></i>Modifier</button>



                                                    <button *ngIf="test.etat==false" mwlConfirmationPopover
                                                        class="btn btn-danger btn-sm ml-2"
                                                        [popoverTitle]="popoverTitle1"
                                                        [popoverMessage]="popoverMessage1" placement="left"
                                                        (confirm)="delete(test._id)" (cancel)="cancelClicked = true"> <i
                                                            class="far fa-trash-alt pr-2"></i>Supprimer
                                                    </button>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>