/* .espace_admin {
    font-size: 25px;
    color: white;
}


p{
    padding-bottom: 20px;
    margin-left: 23%;
    font-weight:bold;
    font-size: 20px;}

.btnajout {
    background-color: #222f4f;
    color: white;
    border: none;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 31px;
    height: 50px;
    padding-top: 0px;
    margin-right: 40px;

}

.btnajout:hover {
    background-color: #222f4f;
    color: white;
    border: none;
    text-decoration: none;
    padding: 4px 10px;    border-radius: 31px;
    padding-top: 0px;
} */



