

<div class="bloc1 fh5co-cover"> 

<nav class="fh5co-nav">

    <div class="top-menu">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-12 justify-content-center ">
                  
                    <a href="http://localhost:4200/" class="b-brand">
                        <img src="../../../assets/logo_final.png" alt=""   width="50%" class=" img-fluid logo logo-lg">
                </a>


                </div>
                <div class="col-lg-5 col-sm-12    text-right menu-1">
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#fh5co-counter">Qui somme nous?</a></li>
                        <li><a href="#fh5co-testimonial">Avantages</a></li>
                        <li><a href="#fh5co-blog">Niveaux </a></li> 
                        <li><a href="#fh5co-steps">Étapes </a></li> 
</ul>

</div>
<div class="col-lg-4 col-sm-12 text-right menu-1">
<ul>

                        <li class="btn-cta"><a class="" routerLink="/registre"><span>Inscription</span></a></li> &nbsp;
                        <li class="btn-cta"><a routerLink="/login"><span>Se connecter</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>
<header id="fh5co-header" class="" role="banner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center col-12 col-md-12 text-center  bloc-text-btn">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        
                        <h1>Apprenez l'anglais</h1>
                        <h2>Nous vous proposons un cours guidé pour apprendre l'anglais.</h2>
                        <p><a class="btn btn-learn btn-lg btn-learn" routerLink="/login">Commencer maintenant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



</div>



<div id="fh5co-counter" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-4  bloc-icone-3 text-center animate-box">
                <img class="img-d"  src="https://img.icons8.com/ios/100/000000/user--v1.png"/>
                <span class="fh5co-counter js-counter pt-4" data-from="0" data-to="1000" data-speed="5000"
                    data-refresh-interval="50">100</span>
         
                <span class="fh5co-counter-label et-texte">Etudiants</span>
            </div>
            <div class="col-md-4  bloc-icone-3 text-center animate-box">
                <img  class="img-d" src="https://img.icons8.com/wired/128/000000/file--v2.png"/>
                <span class="fh5co-counter js-counter pt-4" data-from="0" data-to="100" data-speed="5000"
                    data-refresh-interval="50">200</span>
                <span class="fh5co-counter-label et-texte">Cours</span>
            </div>
            <div class="col-md-4  bloc-icone-3 text-center animate-box">
                <img  class="img-d" src="https://img.icons8.com/ios/100/000000/certificate.png"/>
                <span class="fh5co-counter js-counter pt-4" data-from="0" data-to="3000" data-speed="5000"
                    data-refresh-interval="50  ">100</span>
                <span class="fh5co-counter-label et-texte">Certificats</span>
            </div>

        </div>
    </div>
</div>












<br>

<div class="container " >
    <div class="row animate-box">
        <div class="col-md-12 text-center fh5co-heading">
          
        </div>
    </div>
</div>
<div class="fh5co-explore fh5co-explore1  liste-a-puces-1">
    <div class="container">
        <div class="row">
            <div class="col-6  ">
                <img class="img_eng"
                    src="https://assets.entrepreneur.com/content/3x2/2000/1602623254-aprender-ingles1.jpg" alt="work">
            </div>
            <div class="col-6 pt-4  ">
                <div class="mt pt-4">
                    <h1 class="pt-3 pb-3 h1-qui">Qui somme nous ?</h1>
                    <p> Nous somme une plateforme LMS (Learning Management System) qui permet aux étudiants de tous les
                        coins du monde d'améliorer leur anglais leurs niveaux en anglais selon le cadre européen.</p>

                    <p> Nos cours et formations en ligne offrent un environnement sécurisé et interactif où vous pouvez
                        vous communiquer avec les enseignants.</p>
                    <ul class="list-nav">

                      <li>Tous les cours en ligne totalement gratuits.</li>
                        <li>Les certificats sont disponibles gratuitement à la fin de chaque cours. Un certificat de
                            réussite imprimé et numérique une fois que vous êtes admissible.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<br> <br>




<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 text-center fh5co-heading">
                <h1 class="pt-3 pb-3 h1-qui2">Avantages des cours d'anglais en ligne </h1>

            </div>
        </div>
        <div class="row text-center pt-4 titre-parag">
            <div class="col-4   b-titre">
                <h2>titre1</h2>
                
                <p> paragraphe </p>
            </div>
            <div class="col-4 b-titre">
                <h2>titre1</h2>
                <p> paragraphe </p>
            </div>
            <div class="col-4 b-titre">
                <h2>titre1</h2>
                <p> paragraphe </p>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 text-center fh5co-heading">
                <h1 class="pt-3 pb-3 h1-qui2">Découvrez les niveaux d'anglais </h1>
              
            </div>
        </div>
        <div class="row">


            <div class=" col-md-11 ">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="imgcecr" src="./assets/cecr.png" alt=""></a>

                </div>
            </div>
        </div>
    </div>
</div>





<div id="fh5co-steps">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 col-md-offset-2 text-center ">
                <h1 class="pt-3 pb-3 h1-qui2">Les étapes </h1>
             
            </div>
        </div>
        <div class="row bs-wizard ">

            <div class="col-3 col-md-2 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">
                    <h4>Étape 1</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">
                    <p>Inscription</p>
                </div>
            </div>

            <div class="col-3 col-md-3 bs-wizard-step active">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">
                    <h4>Étape 2</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">
                    <p>Passer un test de niveau</p>
                </div>
            </div>

            <div class="col-3 col-md-2 bs-wizard-step disabled">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">
                    <h4>Étape 3</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">
                    <p>Consulter les cours </p>
                </div>
            </div>

            <div class="col-3 col-md-3 bs-wizard-step disabled">
                <!-- active -->
                <div class="text-center bs-wizard-stepnum">
                    <h4>Étape 4</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">
                    <p>Passer un test d'évaluation</p>
                </div>
            </div>

            <div class="col-2 col-md-2 bs-wizard-step disabled">
                <!-- active -->
                <div class="text-center bs-wizard-stepnum">
                    <h4>Étape 5</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">
                    <p>Obtenir un certificat</p>
                </div>
            </div>
        </div>

    </div>
</div>





<footer id="fh5co-footer" class="footer-bg" role="contentinfo">
    <div class="container">


        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    copyright  &copy;  2021 <b> Let's Start</b>
                </p>

            </div>
        </div>

    </div>
</footer>