@import '~ngx-toastr/toastr';

/* 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.bntmodif {
    color: #da891e;
    border: 1px solid;
    padding:  3px 9px;
    background-color: white;
}

.bntmodif:hover {
    background-color: #da891e;
    color: white;
    border: 1px solid;
    padding:  3px 9px;
    text-decoration: none;
}


.bntblock{
   
    color: red;
    border: 1px solid;
    padding: 3px 9px;
    background-color: white;
}


.bntblock:hover {
    background-color: red;
    color: white;
    border: 1px solid;
    padding:  3px 9px;
    text-decoration: none;
}

.bntdeblock {
color: green;
    border: 1px solid;
    padding: 3px 9px;
    background-color: white;
}
.bntdeblock:hover {
    background-color: green;
    color: white;
    border: 1px solid;
    padding:  3px 9px;
    text-decoration: none;
}

.bloc1{
    background-color: #f7f7ff;
    height: 777px;
    width: 100%;
    padding-top: 70px;
}

.blocAdmin {
    margin-left: 23%;
    margin-right: 4%;
 height: 600px;
    background-color: white;
}


 */

 


        